.randomnames{
    display: grid;
    grid-template: "a a a a" auto;
    border: rgba(33, 122, 173, 0.212) 2px solid;
    background-color: rgba(22, 32, 68, 0.5);
    border-radius: 25px;
    margin: 50px 10px 20px 10px;
    backdrop-filter: blur(5px) saturate(180%);
    box-shadow: var(--clr-neon2) 0px 0px 100px;

    .box {    
        margin: 0px 20px;
        padding: 10px 40px;
        list-style: none;
        max-height: 400px;
        overflow: hidden;
        max-width: min-content;
        color: rgb(143, 182, 214);
        
        li{
            font-size: 20px;
            min-width: max-content;
            margin-bottom: 20px;
            animation: ruleta 20s linear;
            animation-iteration-count: infinite;
            text-transform: uppercase;
        }
    }
}

.speed{
    .box {
        li{
            animation: ruleta .7s linear;
            animation-iteration-count: infinite;

        }
    }
}

@keyframes ruleta {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-1300px);
    }
  }

  .top{
    margin-bottom: -10px;
    box-shadow: 0px 20px 15px #000000;
  }

  .bottom{
    margin-top: -10px;
    box-shadow: 0px -20px 15px #000000;
  }