.randomnames{
    display: grid;
    grid-template: "a a a a" auto;
    .box {
        margin: 0px 20px;
        padding: 20px 40px;
        list-style: none;
        max-height: 500px;
        overflow: hidden;
        max-width: 200px;
        color: rgb(148, 255, 237);
        text-shadow: 0px 0px 4px rgba(0, 255, 255, 0.5);
        
        li{
            font-size: 18px;
            margin-bottom: 30px;
            animation: ruleta 10s linear;
            animation-iteration-count: infinite;
            text-transform: uppercase;
        }
    }
}

.speed{
    .box {
        li{
            animation: ruleta 1s linear;
            animation-iteration-count: infinite;
        }
    }
}

@keyframes ruleta {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-1227px);
    }
  }